[Unit]
Description=Slack Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/stardance_demo
ExecStart=/usr/bin/node index.js
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
